<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{ speaker.name }} {{ speaker.lastname }}</ion-title>
</ion-navbar>


<ion-content padding class="common speaker-detail">
  <div *ngIf="speaker" class="selection">
    <ion-card>
      <img src="{{ formatURL(speaker.profile_picture) }}"/>
      <ion-card-content>
        <ion-card-title>{{ speaker.title }}</ion-card-title>
        <ion-item text-wrap>
          <h3 item class="speaker-occupation">{{ speaker.occupation }}</h3>
          <p>Día {{ speaker.day }} - {{speaker.start_time}}</p>
        </ion-item>
        <ion-item text-wrap>
          <h2 item>{{ speaker.title }}</h2>
          <p item class="item-description">{{ speaker.description }}</p>
        </ion-item>
        <ion-item>
          <icon bookmark item-left></icon>
          <p>
            <ion-icon name="twitter"></ion-icon> 
            <a href="https://twitter.com/{{ speaker.twitter }}">
              <button>Twitter: @{{ speaker.twitter}}</button></a>
            <br>
          </p>

          <p *ngIf="speaker.linkedin">
            <ion-icon name="linkedin"></ion-icon>
            <a href="{{ speaker.linkedin }}">
              <button>Linkedin</button></a>
          </p>
        </ion-item>    
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
