<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Expositores</ion-title>
</ion-navbar>


<ion-content padding class="common sponsors">
    <ion-card *ngFor="let speaker of speakers" (click)="itemTapped($event, speaker)">
      <img src="{{ formatURL(speaker.profile_picture) }}"/>
      <ion-card-content>
        <ion-card-title>{{ speaker.title }}</ion-card-title>
        <p>{{ speaker.name }} {{ speaker.lastname }}</p>
        <p>Día {{ speaker.day }} - {{speaker.start_time}}</p>
      </ion-card-content>
    </ion-card>


    <ion-item *ngFor="let speaker of speakers" > 
    <ion-avatar item-left>
      <img class="speaker-img" src="{{formatURL(speaker.profile_picture)}}"/>
    </ion-avatar>
    <p>{{ speaker.title }}</p>
    <p class="item-description">{{ speaker.name }} {{ speaker.lastname }}</p>
  </ion-item>
</ion-content>
